/* 
    Document   : Gunja
    Created on : Jul 22, 2014, 10:15:10 PM
    Author     : Design_mylife
    Description:gunja single and multi-page for Multipurpose use
    Version    : V1.0
*/
html, body{
    height:100%;
}
body.maintenance-page { 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Raleway', sans-serif;
    color:#fff;
    font-size: 13px;
    line-height: 24px;
    background-color: #fff;
    background-image: url(../img/showcase-3.jpg);
    padding-top: 100px;

}

/*
/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color:#fff;
    text-decoration: none;
}
a:hover{
    color:#fff;
    text-decoration:underline;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0px;
}



h1.soon-logo{
    text-align: center;
    display: block;
    font-family: 'Lobster', cursive;
font-weight: 400;
margin-bottom: 60px;
margin-top: 0;
}
.soon-info-text{
    margin-bottom: 60px;
}
.soon-info-text h2{
    font-size: 64px;
    line-height: 64px;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 900;
}
.soon-form{
    margin: 30px 0;
}
.soon-form h4{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.soon-form .form-control{
    width:260px;
    margin-bottom: 0;
}
/*countdown css**/
.countdown_amount {
    display:block;
    font-size:44px;
    padding-top:25px;
    line-height:20px;
    font-weight:400; 
    color:#fff;

}
.countdown_section {
    display:inline-block;
    width:120px;
    height:120px;
    padding-top: 13px;
    margin:10px;
    color:#fff;
    background-color:rgba(0,0,0,0.6);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    text-align: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
}
.soon-social li a i{
    width:26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    border: 1px solid #fff;
}
/**forms**/
.form-control{
   border: 1px solid rgba(255,255,255,0.5);
    border-radius:0;
    -webkit-border-radius: 0;
    background-color:  transparent;
    color:#fff;
    height: 42px;
    display: inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.form-control:focus{

     border: 1px solid rgba(255,255,255,0.9);
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*****buttons***/
  .btn {
    font-weight: 400;
    font-size: 14px;
    text-shadow: none !important;
    -webkit-text-shadow:none !important;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
}
.btn-white-border{
    color:#fff;
    border: 1px solid #fff;
    background-color: transparent;

}
.btn-white-border:hover{
    background-color: #fff;
    border-color: #fff;
    color:#333;
}
#footer{
    padding: 25px 0;
    background-color:  rgba(0,0,0,0.6);
    text-align: center;
    margin-top: 50px;
}
